{% load staticfiles %}
{% load crispy_forms_tags %}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:align="http://www.w3.org/1999/xhtml">
	<head>
		<title>Contact Us</title>

		{% include 'head.html' %}


	</head>
	<body>

		<!-- Header -->
			{% include 'header.html'%}

		<!-- Main -->
			<section id="main" class="container 75%">
				<header>
					<h2>Contact Us</h2>
					<p>Have any questions ?<br> Simply Call</p>
				</header>
				<div class="box">
					<form method="POST" action="#"> {% csrf_token %}
                        {{form.as_p}}
                        <input type ="submit" value="Send Message">
                    </form>
				</div>
			</section>

		<!-- Footer -->
			{% include 'footer.html'%}

	</body>
</html>