{% load staticfiles %}
<header id="header" class="skel-layers-fixed">
	<h1><a href="{% url 'home'%}">Easy Returns</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="{% url 'home'%}">Home</a></li>

			<li><a href="{% url 'contact'%}">Contact Us</a></li>
			<li><a href="{% url 'about'%}">About</a></li>

			{% if request.user.is_authenticated %}
			<li><a href="{% url 'dash'%}">Dashboard</a></li>
			<li><a href="{% url 'auth_logout' %}" class="button">Logout</a></li>
			{% else %}
			<li><a href="{% url 'auth_login' %}" class="button">Sign Up / Login</a></li>
			{% endif %}


		</ul>
	</nav>
</header>