{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}



<html xmlns="http://www.w3.org/1999/xhtml" xmlns:align="http://www.w3.org/1999/xhtml">
	<head>
		<title>Change Password | EasyReturns</title>

		{% include 'head.html' %}


	</head>
	<body>

		<!-- Header -->
			{% include 'header.html'%}

		<!-- Main -->
			<section id="main" class="container 75%">

				<div class="box">

                    {% block content %}
                    <p align="center">{% trans "You are now registered. Activation email sent." %}</p>
                    {% endblock %}

				</div>
			</section>

		<!-- Footer -->
			{% include 'footer.html'%}

	</body>
</html>




